<div class="section" id="ques">
  <p><%= @question %> <br><em>- You</em></p>
</div>
<div class="section" id="ans">
  <p> <%=@answer %> <br><em>- Answer</em></p>
</div>
<p><%= link_to "Ask another question", ask_path, class: "link" %></p>
